:root {
  --blue: #3949AB;
  --grey: #546E7A;
  --light-grey: #ECEFF1;

  --transition: 400ms ease-in;

  --header-desktop-height: 80px;
  --header-mobile-height: 60px;

  --border-radius: 8px;
  --panel-height: 500px;
  --cart-padding: 10px;
  --panels-gap: 4px;
  --search-top-height: 40px;
  
  --scrollbar-thumb-background: var(--light-grey);
  --scrollbar-background-active: #fff;
}